.DS_Store
Thumbs.db

.vscode/
.idea/
*.swp
*.swo



__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
venv/



airflow/logs/
airflow/airflow.db
airflow/airflow.cfg
airflow/webserver_config.py



spark-warehouse/
derby.log
metastore_db/
*.jar





data/staging/
data/processed/




*.pid
docker/data/
docker/tmp/

# Docker volumes (if mounted locally)
mysql_data/
postgres_data/


logs/
*.log


.ipynb_checkpoints/
*.ipynb


build/
dist/
.eggs/
*.egg-info/



*.key
*.pem
*.crt
